@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");
::-moz-selection {
  background-color: #FFAA99;
  color: #EEEEEE;
}
::selection {
  background-color: #FFAA99;
  color: #EEEEEE;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--basecolordark);
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orangedark);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--orangedark);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

html {
  overflow-x: hidden;
  max-width: 100%;
  --lightIcon: url("../svg/sun.svg");
  --lightBtn: #FF7F00;
  --basecolor: #EEEEEE;
  --basecolorlight: #FFFFFF;
  --basecolordark: #DDDDDD;
  --basetext: #141133;
  --orange: #FF7F00;
  --orangedark: #aa4d00;
}

html[data-theme='dark'] {
  background: var(--lightBg);
  --lightIcon: url("../svg/moon.svg");
  --lightBtn: #5f3fb8;
  --basecolor: #353344;
  --basecolorlight: #444455;
  --basecolordark: #111122;
  --basetext: #DDDDDD;
  --orange: #cf5300;
  --orangedark: #aa4400;
}

svg * {
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  -webkit-transition: fill 0.25s ease;
  transition: fill 0.25s ease;
  display: block;
}

* {
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.hidden-h2 {
  visibility: hidden;
}

.no-href {
  cursor: not-allowed !important;
}

body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', arial;
}

.bodycontainer {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

u {
  text-decoration: none;
}

.wavy {
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

.rotated {
  display: inline-block;
  text-decoration: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

span {
  display: inline-block;
}

span.bounce {
  -webkit-animation: bounce 0.5s ease;
          animation: bounce 0.5s ease;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.inset-shadow-filter {
  display: none;
}

.nav-container {
  visibility: visible;
  background-color: var(--basecolor);
  color: var(--basetext);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.nav-container a {
  color: var(--basetext);
}

.nav-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--orange);
  margin: 0;
  padding: 0;
}

.nav-container header .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1.3em;
  margin-top: 0.25em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-container header .logo-container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.5em;
  height: 2.5em;
  margin-top: 0.5em;
  border-style: solid;
  border-width: 0.175em;
  border-radius: 50%;
}

.nav-container header .logo-container .logo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  line-height: 0.5em;
  font-size: 1em;
  margin-top: 1em;
  margin-left: 0.5em;
  padding: 0;
}

.nav-container header .logo-container .logo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0.1em;
  margin-left: 0.5em;
  padding: 0;
}

.nav-container header nav {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.nav-container header nav .normal-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.nav-container header nav .normal-nav a {
  padding: 0;
}

.nav-container header nav .social-nav {
  visibility: visible !important;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.nav-container header nav .social-nav a {
  padding: 0;
}

.nav-container svg {
  width: 200%;
  padding: 0;
  fill: var(--orange);
}

.all-games {
  background-color: var(--basecolor);
  position: relative;
  color: #333333;
  overflow: auto;
  margin: 0;
  padding: 2em 0 2em 0;
  overflow-x: hidden;
  overflow-y: visible;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.all-games .allgames-title {
  margin: auto;
  text-align: center;
  font-size: 16vw;
  color: #CCCCCC;
  display: none;
}

.all-games .container {
  padding: 0;
  display: inline-block;
  width: auto;
  height: auto;
  margin: auto;
}

.all-games .container .game:hover .content .imgcontainer img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.all-games .container .game:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.all-games .container .game {
  display: block;
  color: var(--basetext);
  padding: 0;
  width: 90vw;
  height: 60vw;
  position: relative;
  cursor: pointer;
  font-size: 5vw;
  margin: 0em 1em 4em 0em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@-webkit-keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.all-games .container .game .content {
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
}

.all-games .container .game .content .imgcontainer {
  position: relative;
  float: left;
  width: 12em;
  height: 6em;
  margin: 0 0 0 2em;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}

.all-games .container .game .content .imgcontainer img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.all-games .container .game .content .info {
  position: absolute;
  bottom: 1em;
  right: 0px;
  width: 12em;
}

.all-games .container .game .content .info h1 {
  font-size: 1em;
  font-weight: 900;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.all-games .container .game .content .info p {
  font-size: .8em;
  margin: 0;
  padding: 0;
}

.all-games .container .game .content .info h2 {
  margin: 0;
  padding: 0;
  font-size: .8em;
  font-weight: 600;
  float: right;
}

.all-games .container .game .blob {
  background-color: var(--orange);
  width: 12em;
  height: 9em;
  border-radius: 83% 82% 63% 92% / 100% 71% 100% 78%;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 1.5em;
  padding: 0;
}

.all-games .container .game .blob1 {
  -webkit-animation: wobble1 5s linear alternate infinite;
          animation: wobble1 5s linear alternate infinite;
}

.all-games .container .game .blob2 {
  -webkit-animation: wobble2 6s linear alternate infinite;
          animation: wobble2 6s linear alternate infinite;
}

.all-games .container .game .blob3 {
  -webkit-animation: wobble3 5.5s linear alternate infinite;
          animation: wobble3 5.5s linear alternate infinite;
}

@-webkit-keyframes wobble1 {
  0% {
    -webkit-transform: scale(1, 1.1) rotateZ(0deg);
            transform: scale(1, 1.1) rotateZ(0deg);
    border-radius: 83% 82% 91% 50% / 100% 71% 100%  78%;
  }
  25% {
    -webkit-transform: scale(1.1, 1) rotateZ(2deg);
            transform: scale(1.1, 1) rotateZ(2deg);
  }
  75% {
    -webkit-transform: scale(1, 1.1) rotateZ(4deg);
            transform: scale(1, 1.1) rotateZ(4deg);
  }
  100% {
    -webkit-transform: scale(1.1, 1) rotateZ(6deg);
            transform: scale(1.1, 1) rotateZ(6deg);
    border-radius: 80% 82% 74% 91% /  72% 95%  84% 100%;
  }
}

@keyframes wobble1 {
  0% {
    -webkit-transform: scale(1, 1.1) rotateZ(0deg);
            transform: scale(1, 1.1) rotateZ(0deg);
    border-radius: 83% 82% 91% 50% / 100% 71% 100%  78%;
  }
  25% {
    -webkit-transform: scale(1.1, 1) rotateZ(2deg);
            transform: scale(1.1, 1) rotateZ(2deg);
  }
  75% {
    -webkit-transform: scale(1, 1.1) rotateZ(4deg);
            transform: scale(1, 1.1) rotateZ(4deg);
  }
  100% {
    -webkit-transform: scale(1.1, 1) rotateZ(6deg);
            transform: scale(1.1, 1) rotateZ(6deg);
    border-radius: 80% 82% 74% 91% /  72% 95%  84% 100%;
  }
}

@-webkit-keyframes wobble2 {
  0% {
    -webkit-transform: scale(1, 1.1) rotateZ(0deg);
            transform: scale(1, 1.1) rotateZ(0deg);
    border-radius: 46% 74% 61% 39% / 54% 67% 33% 46%;
  }
  25% {
    -webkit-transform: scale(1.1, 1) rotateZ(-2deg);
            transform: scale(1.1, 1) rotateZ(-2deg);
  }
  75% {
    -webkit-transform: scale(1, 1.1) rotateZ(-4deg);
            transform: scale(1, 1.1) rotateZ(-4deg);
  }
  100% {
    -webkit-transform: scale(1.1, 1) rotateZ(-6deg);
            transform: scale(1.1, 1) rotateZ(-6deg);
    border-radius: 66% 34% 53% 67% / 65% 73% 77% 35%;
  }
}

@keyframes wobble2 {
  0% {
    -webkit-transform: scale(1, 1.1) rotateZ(0deg);
            transform: scale(1, 1.1) rotateZ(0deg);
    border-radius: 46% 74% 61% 39% / 54% 67% 33% 46%;
  }
  25% {
    -webkit-transform: scale(1.1, 1) rotateZ(-2deg);
            transform: scale(1.1, 1) rotateZ(-2deg);
  }
  75% {
    -webkit-transform: scale(1, 1.1) rotateZ(-4deg);
            transform: scale(1, 1.1) rotateZ(-4deg);
  }
  100% {
    -webkit-transform: scale(1.1, 1) rotateZ(-6deg);
            transform: scale(1.1, 1) rotateZ(-6deg);
    border-radius: 66% 34% 53% 67% / 65% 73% 77% 35%;
  }
}

@-webkit-keyframes wobble3 {
  0% {
    -webkit-transform: scale(1, 1.1) rotateZ(0deg);
            transform: scale(1, 1.1) rotateZ(0deg);
    border-radius: 82% 83% 91% 50% / 100% 71% 100%  78%;
  }
  25% {
    -webkit-transform: scale(1.1, 1) rotateZ(2deg);
            transform: scale(1.1, 1) rotateZ(2deg);
  }
  75% {
    -webkit-transform: scale(1, 1.1) rotateZ(4deg);
            transform: scale(1, 1.1) rotateZ(4deg);
  }
  100% {
    -webkit-transform: scale(1.1, 1) rotateZ(6deg);
            transform: scale(1.1, 1) rotateZ(6deg);
    border-radius: 50% 92% 91% 74% /  72% 95%  84% 60%;
  }
}

@keyframes wobble3 {
  0% {
    -webkit-transform: scale(1, 1.1) rotateZ(0deg);
            transform: scale(1, 1.1) rotateZ(0deg);
    border-radius: 82% 83% 91% 50% / 100% 71% 100%  78%;
  }
  25% {
    -webkit-transform: scale(1.1, 1) rotateZ(2deg);
            transform: scale(1.1, 1) rotateZ(2deg);
  }
  75% {
    -webkit-transform: scale(1, 1.1) rotateZ(4deg);
            transform: scale(1, 1.1) rotateZ(4deg);
  }
  100% {
    -webkit-transform: scale(1.1, 1) rotateZ(6deg);
            transform: scale(1.1, 1) rotateZ(6deg);
    border-radius: 50% 92% 91% 74% /  72% 95%  84% 60%;
  }
}

.aboutcontact {
  text-align: left;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: -7.2vw;
}

.about-us {
  background-color: var(--orange);
  color: var(--basetext);
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.about-us .aboutus-content {
  height: auto;
  padding: 0;
  margin: 3em 1em;
  text-align: center;
}

.about-us .aboutus-content h1 {
  font-size: 1.5625em;
  padding: 0;
  margin: 0 2em;
}

.about-us .aboutus-content p {
  font-size: 1em;
  padding: 0;
  margin: 1em 2em;
  max-width: 50ch;
}

.about-us .aboutus-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15em;
  margin: 3em 2em;
}

.about-us .aboutus-content ul li {
  width: 3em;
  height: 3em;
  -webkit-transition: -webkit-transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: -webkit-transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms, -webkit-transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

.about-us .aboutus-content ul li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about-us .aboutus-content ul li a svg {
  position: relative;
  top: 23%;
  fill: #DDDDDD;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform ease 320ms;
  transition: -webkit-transform ease 320ms;
  transition: transform ease 320ms;
  transition: transform ease 320ms, -webkit-transform ease 320ms;
}

.about-us .aboutus-content ul .twitter {
  background-color: #1DA1F2;
}

.about-us .aboutus-content ul .instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.about-us .aboutus-content ul .youtube {
  background-color: red;
}

.about-us .aboutus-content ul li:hover {
  -webkit-transform: scale(1.25, 1.25);
          transform: scale(1.25, 1.25);
}

.about-us .aboutus-content ul li:hover a svg {
  -webkit-transform: scale(0.75, 0.75);
          transform: scale(0.75, 0.75);
}

.about-us .aboutus-content img {
  width: 10em;
  margin: auto;
  display: block;
  z-index: 100;
}

.contact-us {
  background-color: var(--basecolor);
  color: var(--basetext);
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
}

.contact-us .contactus-content {
  height: auto;
  padding: 0;
  margin: 3em 1em;
  text-align: center;
}

.contact-us .contactus-content h1 {
  font-size: 1.5625em;
  padding: 0;
  margin: 0 2em;
}

.contact-us .contactus-content p {
  font-size: 1em;
  padding: 0;
  margin: 1em 2em 0.5em;
}

.contact-us .contactus-content .contact-form {
  margin: 1.6em;
  display: block;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 0;
  text-align: right;
  color: var(--basetext);
}

.contact-us .contactus-content .contact-form p {
  margin: 0;
  margin-bottom: -0.15em;
  margin-left: 0.7em;
  padding: 0;
  font-size: 0.9em;
  float: bottom;
  text-align: left;
}

.contact-us .contactus-content .contact-form p span {
  font-size: 1em;
  width: 50vw;
  float: right;
  text-align: right;
  margin-right: 1em;
  color: #ff1158;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact-us .contactus-content .contact-form input[type=text], .contact-us .contactus-content .contact-form select, .contact-us .contactus-content .contact-form textarea {
  width: 100%;
  /* Full width */
  background-color: var(--basecolorlight);
  padding: 0.75em;
  /* Some padding */
  border: none;
  /* Gray border */
  font-family: 'Poppins', arial;
  font-size: 1em;
  line-height: 1.5em;
  border-radius: 2em;
  /* Rounded borders */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 0.375em;
  /* Add a top margin */
  margin-bottom: 1em;
  /* Bottom margin */
  resize: none;
  float: bottom;
  color: var(--basetext);
}

.contact-us .contactus-content .contact-form input[type=text]:focus, .contact-us .contactus-content .contact-form textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px var(--orange);
          box-shadow: 0 0 0 4px var(--orange);
  background-color: var(--basecolorlight);
  border-color: var(--orange);
}

.contact-us .contactus-content .contact-form button {
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 2em;
  width: 6em;
  height: 3em;
  font-weight: 600;
  padding: 0;
  display: inline-block;
  margin-bottom: 3em;
}

.contact-us .contactus-content .contact-form button:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--orange);
  border-color: #EEEEEE;
}

.contact-us .contactus-content .contact-form button:focus {
  color: #fff;
  outline: none;
  -webkit-box-shadow: 0 0 0 4px #FFAA99;
          box-shadow: 0 0 0 4px #FFAA99;
  border-color: #FFAA99;
}

.botwaves {
  fill: var(--orangedark);
  position: relative;
  width: 200%;
  bottom: -2.5vw;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
}

footer {
  background-color: var(--orangedark);
  margin: 0;
  padding: 0;
  height: auto;
  margin: 0;
  padding: 1.5em 0;
}

footer .bottom {
  width: 100%;
  height: auto;
  background-color: var(--orangedark);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer .bottom .looping-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #cf6800;
}

footer .bottom .looping-text h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 5em;
  font-weight: 900;
  margin: 0;
  margin-top: 0em;
  margin-bottom: 0.5em;
  padding: 0;
  -webkit-animation: infiniteText 100s linear infinite;
          animation: infiniteText 100s linear infinite;
  position: relative;
  white-space: nowrap;
}

@-webkit-keyframes infiniteText {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes infiniteText {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

footer .botlists .botlinks {
  display: inline-block;
  width: 40ch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 2em;
  text-align: left;
  padding-top: 1em;
  overflow: visible;
  font-size: 1.25em;
}

footer .botlists .botlinks li {
  margin: 1em;
  margin-top: 0;
  overflow: visible;
}

footer .botlists .botlinks li a {
  font-weight: 600;
  height: 4em;
  color: #DDDDDD;
  text-decoration: none;
  overflow: visible;
}

footer p {
  margin: 0;
  padding: 0 0 4em 0;
  margin: auto;
  color: var(--orange);
  text-align: center;
  line-height: 80%;
  width: 25ch;
}

footer p u {
  color: #DDDDDD;
}

.toggle {
  position: fixed;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  right: 10px;
  bottom: 10px;
  z-index: 10000;
}

.toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--lightBtn);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  position: relative;
}

.toggle label:after {
  content: "";
  background-image: var(--lightIcon);
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

.toggle input:checked + label {
  background: var(--lightBtn);
}

.toggle input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.toggle html.transition,
.toggle html.transition *,
.toggle html.transition *:before,
.toggle html.transition *:after {
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal svg {
  margin-top: -1px;
  margin-left: 14vw;
  width: 100px;
  fill: var(--basecolor);
}

/* Modal Content */
.modal-content {
  color: var(--basetext);
  display: block;
  background-color: var(--basecolor);
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 50px;
  height: 10vh;
  width: 80vw;
}

/* The Close Button */
.close {
  color: var(--basetext);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--orange);
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 640px) {
  .nav-container svg {
    width: 100%;
  }
  .game {
    font-size: 2.5vw !important;
    width: 45vw !important;
    height: 30vw !important;
  }
  .aboutcontact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -6vw;
  }
  .contact-us {
    width: 50%;
  }
  .contact-us .contactus-content {
    margin: 3em 2em;
  }
  .contact-us .contactus-content h1 {
    text-align: left;
  }
  .contact-us .contactus-content p {
    text-align: left;
    margin: 1.5em 2em 1em;
  }
  .contact-us .contactus-content .contact-form p span {
    width: 25vw;
  }
  .about-us {
    width: 50%;
  }
  .about-us .aboutus-content {
    margin: 3em 2em;
  }
  .about-us .aboutus-content h1 {
    text-align: left;
  }
  .about-us .aboutus-content p {
    text-align: left;
    margin: 1.5em 2em 1em;
  }
  .about-us .aboutus-content img {
    margin-top: 3em;
  }
  .botwaves {
    width: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    bottom: -3vw;
  }
}

@media only screen and (min-width: 960px) {
  .game {
    font-size: 1.66vw !important;
    width: 30vw !important;
    height: 20vw !important;
  }
  .contact-form p span {
    margin-right: 1em;
  }
  footer .bottom .looping-text h1 {
    font-size: 7em;
  }
}
/*# sourceMappingURL=main.css.map */